[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.10"
djangorestframework = "*"
pillow = "*"
dj-database-url = "*"
django-environ = "*"
psycopg2 = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
django-cors-headers = "*"
canvasapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
